/* 让整个页面内容居中 */
body {
    background-color: deepskyblue;
    text-align: center; /* 让文本居中 */
}

/* 标题样式 */
h1 {
    color: #ffffff;
    margin-top: 20%;
}

/* 设置标题字体 */
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
}

/* 让图片居中 */
img {
    display: block; /* 让图片不会受行内元素影响 */
    margin: 20px auto; /* 自动水平居中 */
    margin-bottom: 30%;
    width: 30%;
    height: auto;
    max-width: 100%;
}

#two-blocks {
    list-style: none;
    padding: 0;
    justify-content: center; /* 水平居中 */
    gap: 20px; /* 控制间距 */
}

/* 让每个链接变成按钮的样式 */
#two-blocks li {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

/* 第一个链接背景色 */
#two-blocks li:nth-child(1) {
    background-color: rgb(255, 192, 247);
    font-size: 6em;
    padding: 50px 150px;
}

/* 第二个链接背景色 */
#two-blocks li:nth-child(2) {
    background-color: rgb(77, 239, 253);
    font-size: 3em;
    padding: 2px 16px;
    text-align: left;
}

/* 让链接字体变大并去掉下划线 */
#two-blocks a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}